$bg_primary_dark: #1A202C;

.header {
  background-color: $bg_primary_dark;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
  }
}



